.list_recipe_div {
    display: flex;
    flex-flow: row;
    justify-content: center;

    width: 90%;

    padding: 2%;
    margin-bottom: 5%;

    border-radius: 5px;

    background-color: rgb(255, 123, 0);
}

.list_recipe {
    cursor: pointer;

    width: 90%;

    padding: 2%;

    border-radius: 5px;

    background-color: rgba(255, 123, 0, 0.856);
    backdrop-filter: blur(4px);

    color: white;
}