.filter_div {
    padding: 10px;
    background-color: rgba(218, 112, 214, 0.685);
    backdrop-filter: blur(2px);
}

.container_div {
    display: flex;
    flex-flow: column nowrap;
    float: right;
    position: relative;

    width: 40%;
    height: 490px;

    align-items: center;
    text-align: center;

    overflow: auto;

    padding: 5%;
    border: 1px solid burlywood;
    background-color: #ffdaa371;
    backdrop-filter: blur(2px);
}