.recipe_div {
    display: flex;
    flex-flow: column;
    position: relative;


    align-content: center;
    justify-content: center;

    align-items: center;
    text-align: center;
    padding: 20px;
    width: 40%;
    height: 100%;
    max-height: 14em;

    margin-bottom: 5%;
    border: 1px solid burlywood;
    background-color: #ffdaa371;
    backdrop-filter: blur(6px);
}

.recipe_img {
    width: 60%;
    height: fit-content; 
    border: 1px solid burlywood
}

.recipe_img:hover {
    width: 80%;
    height: fit-content;
}