.recipe_div {
    margin-top: 50px;
    padding: 20px;
    width: 30%;
    border: 1px solid burlywood;
    background-color: #ffdaa371;
    backdrop-filter: blur(6px);
}

.recipe_img {
    width: 15%;
    height: 10%; 
    border: 1px solid burlywood
}

.recipe_img:hover {
    width: 30%;
    height: 20%;
}