.filter_div {
    display: flex;
    flex-flow: row;
    position: sticky;
    justify-content: space-around;
    z-index: 1;
    padding: 10px;
    background-color: rgba(218, 112, 214, 0.685);
    backdrop-filter: blur(4px);
}

.dropdown_div {
    display: flex;
    flex-flow: column wrap;

    width: 12%;

    color: white;
}

.p-multiselect .p-multiselect-label-container {
    height: 100%;
}

.container_div {
    display: flex;
    flex-flow: column nowrap;
    float: right;
    position: relative;

    width: 50%;
    height: 610px;

    align-items: center;
    text-align: center;

    overflow: auto;

    padding-top: 5%;
    padding-bottom: 5%;
    border: 1px solid burlywood;
    background-color: #ffdaa371;
    backdrop-filter: blur(2px);
}

.search_button {
    border: none;
    border-radius: 5px;

    outline: none;
}

.search_button:hover {
    box-shadow: 0 0 8px rgb(255, 205, 158);
}