.user_container_div {
    display: flex;
    flex-flow: column nowrap;
    float: left;
    position: absolute;

    width: 50%;
    height: fit-content;

    padding-top: 5%;
    padding-bottom: 5%;

    align-items: center;
    text-align: center;
}

.profile_list {
    display: flex;
    flex-flow: column nowrap;
    position: relative;

    width: 60%;
    height: fit-content;

    overflow-x: hidden;

    align-items: center;
    text-align: center;
}

.lists_container_div {
    margin-top: 2%;
    width: 100%;
    height: 24em;

    padding-top: 5%;
    padding-bottom: 5%;
    border: 1px solid burlywood;
    background-color: #ffdaa371;
    backdrop-filter: blur(2px);
}