.user_container_div {
    display: flex;
    flex-flow: column nowrap;
    float: left;
    position: relative;

    width: 50%;
    height: fit-content;

    padding-top: 5%;
    padding-bottom: 5%;

    align-items: center;
    text-align: center;
}

.profile_div {
    padding: 1% 5% 1% 5%;

    width: 50%;
    background-color: rgba(218, 112, 214, 0.685);
    backdrop-filter: blur(4px);

    color: white;
}

.lists_container_div {
    margin-top: 2%;
    min-width: 50%;
    height: 400px;

    padding-top: 5%;
    padding-bottom: 5%;
    border: 1px solid burlywood;
    background-color: #ffdaa371;
    backdrop-filter: blur(2px);
}